[submodule "ext/godot-sandbox"]
	path = ext/godot-sandbox
	url = https://github.com/libriscv/godot-sandbox.git
[submodule "ext/eigen"]
	path = ext/eigen
	url = https://gitlab.com/libeigen/eigen.git
[submodule "ext/libigl"]
	path = ext/libigl
	url = https://github.com/libigl/libigl.git
[submodule "ext/geometry-central"]
	path = ext/geometry-central
	url = https://github.com/nmwsharp/geometry-central.git
